<!DOCTYPE html>
<html>

<head>
	<link rel="apple-touch-icon" sizes="180x180" href="./favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./favicons/favicon-16x16.png">
	<link rel="manifest" href="./favicons/manifest.json">
	<link rel="mask-icon" href="./favicons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="./favicons/favicon.ico">
	<meta name="msapplication-config" content="./favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	
	<meta name="keywords" content="Mudanças, Transportes, pequenos transportes, moveit mudancas, mudancas em lisboa, mudancas no barreiro, mudancas lowcost,mudancas nacionais,transportes internacionais,pequenas mudancas,embalamento,arrendar casa em lisboa,comprar casa em lisboa">
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html; charset=utf8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Move It - Mudanças</title>

	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/font-awesome.min.css">

	<link href="./css/styles.css" rel="stylesheet" type="text/css">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
	<script type="text/javascript" src="./scripts/bootstrap.min.js"></script>
</head>

<body>
<div class="container-fluid" id="main">
	<div class="row">
		<div class="col">
			<!-- Navigation Bar -->
			<div class="row marg-bt-05">
				<div class="col">
					<center>
						<img class="img-fluid" src="./images/logo.jpg">
						<h2 class="d-inline-block">Mudamos a sua vida!</h2>
					</center>

					<nav class="navbar navbar-toggleable-sm navbar-moveit bg-moveit">
						<button class="navbar-toggler navbar-toggler-right fa-mobile-icons" type="button" data-toggle="collapse" data-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
					    	<i class="fa fa-bars"></i>
						</button>

						<a class="hidden-md-up" href="index.html">
							<i class="fa fa-home fa-mobile-icons"></i>
						</a>

						<div class="collapse navbar-collapse" id="navbar-links">
							<ul class="navbar-nav mr-auto">
								<li class="hidden-sm-down">
									<a class="nav-link" href="index.html"><i class="fa fa-home"></i></a>
								</li>
								<li>
									<a class="nav-link" href="servicos.html">Serviços</a>
								</li>
								<li>
									<a class="nav-link" href="empresa.html">Empresa</a>
								</li>
								<li>
									<a class="nav-link selected" href="contactos.html">Contactos</a>
								</li>
				            </ul>
				    	</div>
					</nav>
				</div>
			</div>
			<!-- Content Area -->
			<div class="row marg-tp-15">
				<div class="col">
					<div class="row marg-bt-1">
						<div class="col">
							<div class="row marg-bt-15">
								<div class="col-md-8 col">
									<h4>MOVE IT MUDANÇAS</h4>
									<p class="marg-bt-15">
										Telemóvel: 962 600 211 | 969 357 319<br>
										<br>
										E-mail: geral@moveit-mudancas.com
									</p>
									<h5>Especialistas em mudanças</h5>
									<p class="desc-text">
										A Move It é especializada em mudanças residenciais a nível nacional e internacional, efectuamos mudanças 24h por dia, 7 dias da semana, 365 dias por ano.<br>
										<br>
										Temos o melhor preço por hora e cobrimos orçamentos, se já tem um orçamento entre em contacto connosco e faremos um melhor preço.
									</p>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8 col">
									<h4>Formulário de contacto</h4>
									<hr>
									<!--Form begins here -->
									<form id="form_contact" name="form_contact" ng-app="app_contact" ng-controller="validate_contact" ng-submit="processForm()" novalidate>
										<div class="row">
											<div class="col">
												<div class="row form-group">
													<div class="col">
														<div class="row form-group">
															<div class="col">
																<label for="form_name">Nome:</label>
																<input class="form-control" type="text" name="form_name" id="form_name" ng-model="form_name" required>
															</div>
														</div>
														<div class="row form-group" ng-show="form_contact.form_name.$touched && form_contact.form_name.$invalid" ng-cloak>
															<div class="col">
																<div class="alert alert-danger" role="alert" >
																	<span ng-show="form_contact.form_name.$error.required">Campo obrigatório!</span>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row form-group">
													<div class="col">
														<div class="row form-group">
															<div class="col">
																<label for="form_mail">Email:</label>
																<input class="form-control" type="email" name="form_mail" id="form_mail" ng-model="form_mail" required>
															</div>
														</div>
														<div class="row form-group" ng-show="form_contact.form_mail.$touched && form_contact.form_mail.$invalid" ng-cloak>
															<div class="col">
																<div class="alert alert-danger" role="alert">
																	<span ng-show="form_contact.form_mail.$error.required">Campo obrigatório!</span>
																	<span ng-show="form_contact.form_mail.$error.email">Email Inválido!</span>
																</div>
															</div>
														</div>														
													</div>
												</div>
												<div class="row form-group">
													<div class="col">
														<div class="row form-group">
															<div class="col-md-6 col">
																<label for="form_number">Nr de Telemóvel/Telefone:</label>
																<input class="form-control" type="text" name="form_number" id="form_number" ng-model="form_number" required>
															</div>
														</div>
														<div class="row form-group" ng-show="form_contact.form_number.$touched && form_contact.form_number.$invalid" ng-cloak>
															<div class="col-md-6 col">
																<div class="alert alert-danger" role="alert" >
																	<span ng-show="form_contact.form_number.$error.required">Campo obrigatório!</span>
																</div>
															</div>
														</div>	
													</div>
												</div>
												<div class="row form-group">
													<div class="col">
														<div class="row form-group">
															<div class="col-md-6 col">
																<label for="form_country">País:</label>
																<input class="form-control" type="text" name="form_country" id="form_country" ng-model="form_country" required>
															</div>
														</div>
														<div class="row form-group" ng-show="form_contact.form_country.$touched && form_contact.form_country.$invalid" ng-cloak>
															<div class="col-md-6 col">
																<div class="alert alert-danger" role="alert" >
																	<span ng-show="form_contact.form_country.$error.required">Campo obrigatório!</span>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row form-group">
													<div class="col">
														<div class="row form-group">
															<div class="col">
																<label for="form_country">Mensagem:</label>
																<textarea rows="8" class="form-control" type="text" name="form_message" id="form_message" ng-model="form_message" required></textarea>
															</div>
														</div>
														<div class="row form-group" ng-show="form_contact.form_message.$touched && form_contact.form_message.$invalid" ng-cloak>
															<div class="col">
																<div class="alert alert-danger" role="alert" >
																	<span ng-show="form_contact.form_message.$error.required">Campo obrigatório!</span>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="row form-group">
													<div class="col marg-bt-05">
														<button class="btn btn-primary btn-block" ng-disabled="form_contact.$invalid || form_contact.$submitted">Enviar</button>
													</div>
													<div class="col-12">
														<div class="alert alert-danger" role="alert" ng-show="form_contact.$invalid" ng-cloak ng-hide="form_contact.$submitted">
															Campos obrigatórios por preencher acima!
														</div>
														<div class="alert alert-success" role="alert" ng-show="form_contact.$submitted">
															Mensagem enviada com sucesso!
														</div>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Footer -->
			<div class="row marg-tp-50">
				<div class="col">
					<div class="row">
						<div class="col">
							<div class="footer-display bg-moveit">
								<h6>
									<span class="footer-info">www.moveit-mudancas.com</span>
									<span class="hidden-sm-down"> | </span>
									<span class="footer-info">geral@moveit-mudancas.com</span>
									<span class="hidden-sm-down"> | </span>
									<span class="footer-info">Telf.: 962 600 211</span>
								</h6>
							</div>						
						</div>
					</div>
					<div class="row">
						<div class="col">
							<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">						
								<ul class="navbar-nav">
									<li>
										<a class="nav-link" href="index.html"><i class="fa fa-home"></i></a>
									</li>
									<li>
										<a class="nav-link" href="servicos.html">Serviços</a>
									</li>
									<li>
										<a class="nav-link" href="empresa.html">Empresa</a>
									</li>
									<li>
										<a class="nav-link" href="contactos.html">Contactos</a>
									</li>
					            </ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<script type="text/javascript">		
    	var app_contact = angular.module('app_contact', [ ]);

		app_contact.controller('validate_contact', function($scope, $http) {
			$scope.form_name='';
			$scope.form_mail='';
			$scope.form_number='';
			$scope.form_country='';
			$scope.form_message='';

			$scope.processForm = function () {
				$http.post('processMessage.php', {
					"form_name": $scope.form_name,
					"form_mail": $scope.form_mail,
					"form_number": $scope.form_number,
					"form_country": $scope.form_country,
					"form_message": $scope.form_message
				});
			}
    	});
	</script>
</body>

</html>