$color-blue: #2d4654;
$color-purple: #4e4d5c;
$color-dark-white: #fafafa;
$color-grey: #dedede;
$color-dark-grey: #6c6c6c;
$color-black: #000;
$color-white: #fff;
$color-text: #2c3e50;

$color-comparaja: #076b9c;
$color-prime: #52e009;
$color-education: #555285;

$break-sm-min: 420px;
$break-md-min: 768px;
$break-lg-min: 1024px;
